P {
    color:rgb(155, 30, 51);
    font-size:18px;
}
h1 {
    color:rgb(87, 7, 140);
    font-size:45px;
    background-color:rgb(255, 240, 221)
}
h2 {
    color:rgb(159, 18, 220);
    font-size:30px;
}
h3 {
    color:rgb(226, 83, 107);
    font-size:30px;
}